/*
!.gitignore
11851209_Masterthesis_Moritz_Langer/
!11851209_Masterthesis_Moritz_Langer/*.tex
!11851209_Masterthesis_Moritz_Langer/*.bib
!11851209_Masterthesis_Moritz_Langer/own_images/
!11851209_Masterthesis_Moritz_Langer/Images_from_other_sources/
